* {
  box-sizing: border-box;
}

#main {
  width: 200px;
  height: 70px;
  margin: 0 auto;
  border-radius: 35px;
  background-color: black;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  position: relative;
}

#main.hovered {
  width: 300px;
}

#main.big {
  width: 400px;
  height: 300px;
  border-radius: 50px;
}

#top-control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
}

#middle {
  width: 160px;
  height: 70px;
  margin: 0 auto;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Arial', sans-serif;
  position: relative;
  top: 30px;
}

@keyframes fade-in {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}

@keyframes colorShift {
  0%   { filter: hue-rotate(90deg) opacity(1); }
  25%  { filter: hue-rotate(30deg) opacity(0.8); }
  35%  { filter: hue-rotate(60deg) opacity(0.9); }
  60%  { filter: hue-rotate(180deg) opacity(1); }
  100% { filter: hue-rotate(90deg) opacity(1); }
}

#album {
  width: 50px;
  height: 50px;
  opacity: 0;
  border: 1px white solid;
  border-radius: 25%;
  transition: all 0.25s ease-in-out;
  position: relative;
  left: 20px;
}

#album.show {
  animation: fade-in 0.25s forwards;
}

#album.hide {
  animation: fade-out 0.25s forwards;
}

#album.big {
  top: 30px;
  left: 30px;
  width: 80px;
  height: 80px;
}

#volume {
  width: 60px;
  height: 50px;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  position: relative;
  right: 20px;
}

#volume.show {
  animation: fade-in 0.25s forwards, colorShift 2s infinite;
}

#volume.hide {
  animation: fade-out 0.25s forwards;
}

#volume.big {
    position: relative;
    right: 30px;
    top: 30px;
}

#center-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto;
    color: white;
    font-family: sans-serif;
}

#bottom-control {
  margin: 0 auto;
  position: relative;
  top: 60px;
}

#favorite {
  width: 50px;
  height: 50px;
  border: none;
  display: none;
  transition: all 0.25s ease-in-out;
  background-color: transparent;
  background-image: url("assets/Favorite.png");
  background-size: 50px 50px;
}

#favorite.show {
  display: block;
}
